<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>Navegador no suportat</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">

  <link rel="stylesheet" href="static/error/estils.css">
</head>
<body>
<h1>Navegador no suportat</h1>
<p>El vostre navegador web no està suportat.</p>
<p>Feu servir un navegador actualitzat com <a href="https://www.mozilla.org/firefox/">Mozilla Firefox</a> o <a
  href="https://www.google.com/chrome/">Google Chrome</a>.</p>
<p></p>
</body>
</html>
